/001 - 都落ち - Miyakoochi - XKe03_eCtyg.m4a
/002 - ブレーメン - Bremen - BuBjSciSdO8.m4a
/003 - チノカテ - Chinokate - uJtklPbdryM.m4a
/004 - 月に吠える - Howl At The Moon - 2q74THeHeEY.m4a
/005 - 451 - 451 - e_smpflNwVQ.m4a
/006 - 又三郎 - Matasaburo - zuC_wTi7O5o.m4a
/007 - 老人と海 - The Old Man and the Sea - zUZQqchBT5A.m4a
/008 - 左右盲 - Left-Right Confusion - f6bedAGQ_AE.m4a
/009 - アルジャーノン - Algernon - gv8ngDNEOpc.m4a
/010 - 第一夜 - The First Night - kh_yLwkRUIE.m4a